*{
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: rgb(204, 216, 231);
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 20px 150px;
    margin: auto;
}
.nav-logos{
    font-size: 30px;
}
.nav-logos a{
    padding:7px 15px;
    color: rgb(10, 10, 94);
}
.nav-logos a:hover{
    padding:7px 15px;
    background-color: rgb(10, 10, 94);
    color: rgb(255, 255, 255);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgb(17, 17, 17);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 3;
  }
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(129, 129, 129);
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: rgb(241, 241, 241);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.body1{
    background-color: rgb(204, 216, 231);
}
.body1-container{
    padding: 115px 0px;
    position: relative;
    width: 1200px;
    margin:0 auto;
}

.strip{
    background-color:aqua ;
    top:0%;
    bottom: 0%;
    left:34%;
    right : 44%;
    position: absolute;
}
.circle{
    background-color:rgb(255, 255, 255) ;
    top:5%;
    left:8%;
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}
.foreground{
    position: relative;
    padding-left: 200px;
}
.box-txt{
    background-color:rgb(255, 255, 255) ;
    top:58%;
    left:50%;
    right: 9%;
    position: absolute;
    font-size: 20px;
    padding: 50px;
}
.box-txt a{
    text-decoration: none;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(180, 74, 67);
}
.box-txt button{
    border-radius: 10px; 
    margin-top: 17px;
    padding: 2px 15px;             
}
.body2{
    background-color: rgb(204, 216, 231);
}
.body2-container{
    padding: 00px 150px;
    position: relative;
    width: 1200px;
    padding-bottom: 30px;
    margin: auto;
    text-align: center;
}
.body2-strip{
    background-color:aqua ;
    top:32%;
    left:-1000%;
    bottom: 42%;
    right : -1000%;
    position: absolute;
}
.b21{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    opacity: .7;
    margin: 0;
    padding-top: 50px;
}
.b22{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 40px;
    color: rgb(18, 18, 58);
}
.cards{
    display: flex;
}
.card{
    margin: 30px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.cards img{
    width: 100%;
}
.card p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 800;
    color: rgb(43, 23, 92);
}
.inner-card{
    margin: 20px;
}
.inner-card p{
    font-size: 23px;
    font-weight: 300;
}
.b2-button{
    font-size: larger;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:10px 30px ;
    border-radius: 35px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(22, 30, 96);
    color: aliceblue;
    opacity: 1;
}
.body3{
    background-color: rgb(204, 216, 231);
}
.body3-container{
    position: relative;
    width: 1200px;
    margin:0 auto;
    padding: 70px 0px;
}
.body3-strip{
    background-color:aqua ;
    top:44%;
    left:-1000%;
    bottom: 30%;
    right : 57%;
    position: absolute;
}
.body3-foreground{
    display: flex;
    justify-content: space-between;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body3-left{
    position: relative;
    padding-right:100px;
}
.body3-left p{
    margin-bottom: 10px;
    font-size: 75px;
    font-weight: 900;
    opacity: .8;
}
.body3-right{
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.body3-right p{
    padding-bottom: 20px;
}
.container{
    padding-right: 30px;
    height: 50%;
}
.upper{
    font-size: 30px;
    opacity: .7;
    font-weight: 900;
}
.lower{
    padding-left: 70px;
}
.l{
    cursor: pointer;
    transition: 0.3s;
    text-decoration: underline;
}
.l:hover{
    text-decoration: none;
    font-size: 22px;
    color: rgb(100, 94, 143);
}
.body3-last{
    position: relative;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    opacity: .9;
    /* padding-bottom: 90px; */
}
.body4{
    background-color: rgb(29, 101, 117);
}
.body4-container{
    padding: 40px 0px;
    width: 1200px;
    margin:0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.body4-left{
    font-size: 27px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}
.body4-right button{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    padding: 6px 20px;
}
.body5{
    background-color: rgb(204, 216, 231);
}
.body5-container{
    position: relative;
    width: 1200px;
    margin:0 auto;
    padding: 70px 0px;
}
.body5-circle{
    position: absolute;
    right: 0%;
    left :92%;
    top:12%;
    bottom: 18%;
    background-color: rgb(29, 101, 117);
    border-radius: 50%;
}
.body6{
    background-color: rgb(204, 216, 231);
}
.body6-container{
    position: relative;
    margin:0 auto;
    width: 1110px;
    padding-bottom: 225px;
}
.body6-card{
    display: flex;
    align-items: center;
    background-color: aliceblue;
}
.left-card{ 
    padding: 50px 40px;
    width: 45%;
}
.left-card button{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 6px 20px;
}
.left-card p{
    font-size: 25px;
}
.body6-card img{
    width: 55%;
} 
.floating-box{
    font-size: 34px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    font-weight: 650;
    color: rgb(0, 69, 87);
    background-color: rgb(3, 215, 215);
    left: 60%;
    right:-5%;
    top: 60%;
    bottom: 10%;
    padding: 30px 30px;
}
.body7{
    background-color: rgb(204, 216, 231);
}
.body7-container{
    margin:0 auto;
    width: 1200px;
    padding-bottom: 90px;
    display: flex;
}
.body7-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.body7-right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.left-top{
    font-size: 41px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    opacity: .8;
}
.left-bottom{
    padding-top: 20px;
}
.left-bottom button{
    padding: 50px 50px;
    border-radius: 50%;
    border: 0;
    background-color: rgb(3, 215, 215);
}
.right-top{
    font-size: 23px;
}
.right-bottom{
    padding-top: 30px;
}
.right-bottom button{
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 20px;
}
.body8{
    background-color: rgb(204, 216, 231);
}
.body8-container{
    margin:0 auto;
    width: 1000px;
    text-align: center;
    position: relative;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 2;
}
.body8-strip{
    left:-10% ;
    right: -10%;
    top:10%;
    height: 100px;
    background-color: rgb(3, 215, 215);
    position: absolute;
    z-index: -1;
}
.body8-container button{
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 20px;
}
.body9{
    background-color: rgb(204, 216, 231);
}
.body9-container{
    margin:0 auto;
    width: 1000px;
    position: relative;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 100px;
    padding-bottom: 30px;
}
.body9-box{
    position: absolute;
    left: 0%;
    top: 13%;
    bottom: 0%;
    right: 65%;
    background-color: rgb(3, 215, 215);;
}
.body9-elements{
    display: flex;
    align-items: center;
    width: 875px;
    margin: auto;
}
.body9-left{
    z-index: 2;
}
.body9-right{
    padding: 30px;
    padding-left: 50px;
}
.frm input,textarea{
    font-size: 15px;
    background-color: rgb(204, 216, 231);
    margin: 5px 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 5px 0;
    padding-right: 70px;
}
.submt input{
    padding: 5px 100px;
    font-size: 18px;
    background-color: rgb(3, 215, 215);
    border: 0px;
    cursor: pointer;
}
.submt input:hover{
    background-color: rgb(10, 20, 100);
    color: aliceblue;
}
.footer{
    height: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(52, 55, 57);
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    padding-bottom: 50px;
}
.footer p{
    padding-top: 50px;
}
.footer p>u{
    color: rgb(122, 135, 187);
}